<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.play.buyudar"
    android:versionCode="243"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:name="test.test.MainActivity" -->

        <activity android:name="test.test.TestActivity" android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cdd.baidu.BDFCActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>


        <!-- baidu ad -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="d4ee90d2" />
        <meta-data
            android:name="BaiduMobAd_APP_SEC"
            android:value="d4ee90d2" />
        <meta-data
            android:name="fc_act"
            android:value="test.test.MainActivity" />

        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name="com.baidu.mobads.appoffers.OffersActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <!-- baidu ad -->


        <!-- youmi -->
        <!-- base -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- smartbanner -->
        <activity
            android:name="net.youmi.android.SmartBannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service
            android:name="net.youmi.android.SmartBannerService"
            android:exported="false" >
        </service>
        <!-- 积分相关 -->
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.offers.OffersReceiver"
            android:exported="false" >
        </receiver>
        <!-- 积分相关 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="10020" >
        </meta-data>
        <meta-data
            android:name="youmikey"
            android:value="9390f2f27f9fe6e6" >
        </meta-data>
        <meta-data
            android:name="youmiscu"
            android:value="a33829a2cf05d8f6" >
        </meta-data>
        <!-- youmi -->


        <!-- anzhi key -->
        <meta-data
            android:name="anzhikey"
            android:value="qH6hQAIAUfh98554Vdq5NI33" >
        </meta-data>
        
        <!-- 安装软件的监听 -->
        <receiver android:name="com.feiwo.receiver.InReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.feiwo.receiver.ConnectReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.feiwo.activity.PA"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- 飞沃的cover -->
        <activity
            android:name="com.feiwo.view.IA"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 飞沃的应用墙听 -->
        <activity
            android:name="com.feiwo.RDA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.feiwo.RLA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask" >
        </activity>
        <!-- anzhi -->


        <!-- Mini market -->
        <activity
            android:name="com.mini.loader.MiniMarket"
            android:label="app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <action android:name="android.intent.action.DELETE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mini.loader.MiniReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- c4847a6e8cb543b7873b038283390851 -->
        <meta-data
            android:name="YQ_CHANNEL"
            android:value="c4847a6e8cb543b7873b038283390851" />

        <!-- Mini market -->
        
        <!-- d theme -->
        <activity
            android:name="com.yiqu.sdk.QFullScreen"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.yiqu.sdk.QReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <meta-data android:name="YQ_CHANNEL" android:value="c4847a6e8cb543b7873b038283390851"/>
        <!-- d theme -->


        <!-- panda push -->
        <service android:name="com.util.p.SE" />

        <activity
            android:name="com.util.p.CT"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <receiver android:name="com.util.p.RE" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="zy_uniue_pandaId"
            android:value="f5c0aef5ef15452f8633c7d914030c02" />
        <meta-data
            android:name="pdate"
            android:value="2014-2-15" />
        <!-- panda push -->
        
        <!-- tg -->
        <meta-data
            android:name="tgexit"
            android:value="0" >
        </meta-data>
        <meta-data
            android:name="tgdate"
            android:value="2014-7-14" >
        </meta-data>
        <!-- tg -->


        <!-- UMeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52fb3eb356240b46b31d5596" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="anzhi" />
        <!-- UMeng -->

    </application>

</manifest>